
:root {
	--paragraph-font: "Comfortaa", cursive;
	--heading-font: Verdana, Geneva, Tahoma, sans-serif;
	--background-color_1: #003366;
	--background-color_2: #0066cc;
	--paragrapgh-color: #f2f2f2;
	--link-color: #fff;
}
body {
	margin: 0;
	padding: 0;
}
p{
	font-family: var(--paragraph-font);
}
h1 {
	font-family: var(--heading-font);
	color: var(--paragrapgh-color);
	margin-right:35px;
}
h2{
	font-family: var(--heading-font);
	text-align:center;
	border-bottom:5px solid rgb(43, 40, 40);
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}
header {
	margin: 0;
	padding:0;
}
p{
	display: block;
	font-size: 20px;
}
header {
	background-color: #003366;
	color: #fff;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo img {
	max-height: 50px;
	margin-right: 20px;
}

nav {
	background-color: var(--background-color_1);
	padding: 10px;
	text-align: center;
}

nav a {
	color: var(--link-color);
	text-decoration: none;
	padding: 10px;
	margin: 0 10px;
}

nav a:hover {
	background-color: var(--background-color_1);
}

main {
	padding: 20px;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
}

.gallery img {
	width: 300px;
	height: 200px;
	border-radius: 10px;
}

footer {
	background-color: #003366;
	color: var(--link-color);
	padding: 20px;
	text-align: center;
}
h2.contact_us{
	font-family: var(--heading-font);
	text-align:center;
	border-bottom:5px solid var(--paragrapgh-color);
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;	
}

.contact_us {
	margin-bottom: 20px;
}


#about{
	margin-top: 50px;
}

img, video {
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }
		  .contact_us a {
	color: var(--link-color);
	text-decoration: underline;
}

@media (max-width: 768px) {
    /* Styles for screens smaller than 768px (e.g., tablets and smartphones) */
    .gallery img {
      width: 100%;
      height: auto;
    }
	h1{
		display: none;
	    /* margin-left:22px;
		font-size: 8px; */
	}
	.logo img{
		max-height: 150px;
	}
	#about{
		margin-top:10px;
	}
  }
  